$phone: "only screen and (max-width: 600px)";
$tablet: "only screen and (min-width: 601px) and (max-width:1199.9px)";
$tabletLarge: "only screen and (min-width: 1200px) and (max-width:1439.98px)";
$laptop: "only screen and (min-width: 1440px) and (max-width:1599.98px)";
$desktop: "only screen and (max-width:1600.98px)";
$desktopWide: "only screen and (min-width:1441px) and (max-height:960px)"